@media (min-width: 300px) and (max-width: 1279px){
    *{
        box-sizing: border-box;
    }

    html, body{
        text-align: center;
    }

    main{
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    #contanier{
        width: 200px;
        border: 4px solid rgb(170, 40, 40);
        border-radius: 10px;
        margin: auto;
        margin-top: 10%;
    }
}


@media (min-width: 1280px) and (max-width: 1920px){
    *{
        box-sizing: border-box;
    }

    html, body{
        text-align: center;
    }

    main{
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    #contanier{
        width: 200px;
        border: 4px solid rgb(170, 40, 40);
        border-radius: 10px;
        margin: auto;
        margin-top: 10%;
    }
}
